/* General styles */
body {
    background-color: #F1EEDC;
    color: black;
    font-family: "PT Serif", serif;
    margin: 0;
    padding: 0;
}

.left {
    font-size: 35px;
    color: #523e8e;
}

header {
    background-color: #E5DDC5;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E5DDC5;
    height: 12vh;
    font-weight: 400;
    padding: 0 50px;
}

nav ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin: 0 40px;
}

.nav-links a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-links a:hover {
    color: #523e8e;
}

main {
    padding: 20px;
}

#contact-us {
    text-align: center;
}

#contact-us h1 {
    font-size: 36px;
    color: #523e8e;
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.contact-info, .newsletter-section {
    background-color: #E5DDC5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
    max-width: 45%; 
}

.contact-info h2, .newsletter-section h2 {
    font-size: 28px;
    color: #523e8e;
    margin-bottom: 10px;
}

.contact-info p, .newsletter-section p {
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-info a {
    color: #523e8e;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background-color: #523e8e;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
}

button:hover {
    background-color: transparent;
    border: 1px solid #523e8e;
    color: #523e8e;
}

footer {
    width: 100%;
    height: 50vh;
    background-color:#E5DDC5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px; 
}

footer h1 {
    margin-bottom: 10px;
    color: #523e8e;
    font-size: 40px;
}

footer>ul:nth-child(2) {
    width: 30%;
    height: 40px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

footer>ul i {
    font-size: 25px;
}

footer>ul:nth-child(3) {
    width: 60%;
    height: 40px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400; 
}

footer>ul a {
    text-decoration: none;
    color: black;
}